body{
    background-color: rgb(199, 192, 208);
}
.bg-img{
    background-image: url(../images/djdjd.jpg);
    color: white;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 10px 5px;
    font-weight: 900;
    font-size: 15px;
    font-family: sans-serif;
    clip-path: polygon(50% 0%, 80% 10%, 100% 35%, 100% 70%, 80% 90%, 50% 100%, 20% 90%, 0% 70%, 0% 35%, 20% 10%);
    
}
.circle{
    height: 200px;
    width: 200px;
    background-color: yellowgreen;
    border-radius: 50%;
    transition: 1s;
    transform: rotate(260deg);
}
.circle:hover{
    background-color: red;
}
.ib{
    text-align: center;
    width: 300px;
    display: inline-block;
    background-color: darkcyan;
}
.bib{
    display: inline-block;
}






@media screen and (max-width:425px) {
    body{
        background-color: chocolate;
    }
}