body{
    background-color: rgb(199, 192, 208);
}
.bg-img{
    background-image: url(../images/djdjd.jpg);
    color: white;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 10px 5px;
    font-weight: 900;
    font-size: 15px;
    font-family: sans-serif;
    clip-path: polygon(50% 0%, 80% 10%, 100% 35%, 100% 70%, 80% 90%, 50% 100%, 20% 90%, 0% 70%, 0% 35%, 20% 10%);
    
}
.circle{
    height: 200px;
    width: 200px;
    background-color: yellowgreen;
    border-radius: 50%;
    transition: 1s;
    transform: rotate(260deg);
    position: relative;
}
.circle:hover{
    background-color: red;
}
.ib{
    text-align: center;
    width: 300px;
    display: inline-block;
    background-color: darkcyan;
    position: fixed;
    top: 50px;
    right: 0px;
    font-family: 'junki';
}
.bib{
    display: inline-block;
}
.stc{
    position: sticky;
    top: 0;
}
.sma{
    border-radius: 50%;
    background-color: white;
    width: 50px;
    height: 50px;
    position: absolute;
    top: 40%;
    left: 40%;
}

.fon{
     font-family: "Roboto Mono", monospace;
}

@font-face {
    font-family: 'junki';
    src: url('../Sixtyfour/Sixtyfour.ttf');
}



.icon{
   color: red;
   font-size: 25px;
   transform:rotate(100deg);
}


@media screen and (max-width:425px) {
    body{
        background-color: chocolate;
    }
}